<table class="table">
  <thead class="thead-light">
  <tr>
    <th scope="col">#</th>
    <th scope="col">Name</th>
    <th scope="col">Status</th>
  </tr>
  </thead>
  <tbody *ngFor="let books of books; index as i">
  <tr>
    <th scope="row">{{books.id}}</th>
    <td>{{books.name}}</td>
    <td>{{books.read}}</td>
    <td>
    </td>
    <td>
      <button class="btn btn-danger" (click)="changeStatus(books)">Status</button>
    </td>
  </tr>
  </tbody>
</table>
<a class="btn btn-success" routerLink="/add">Them moi</a>
